html {
    scroll-behavior: smooth;
}
.portada-hero {
    background-image: url("./assets/Viva\ Las\ Vagas\ Wallpaper\ Elvis\ Presley.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.portada-hero .button{
    background-color: #1a1a1a;
    color: #ffffff;
    border: 2px solid #d4af37;
    transition: all 0.3s ease;
}

.portada-hero .button:hover {
    background-color: #d4af37;
    color: #1a1a1a;
    border: 2px solid #1a1a1a;
    transform: scale(1.05);
}

.hero p{
    letter-spacing: 2px;
    text-transform: uppercase;
}
/* dropdown menu */
/* Fondo dropdown */

.navbar-dropdown {
    background-color: #111;
    border-top: 2px solid #d4af37;
}

.navbar-dropdown .navbar-item {
    color: #fff;
    transition: all 0.2s ease;
}

/* Hover dorado*/
.navbar-dropdown .navbar-item:hover {
    background-color: #d4af37;
    color: #000;
    padding-left: 1.5rem;
}
/* Disco cards */
.disco-card {
    height: 100%;
    max-width: 140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.disco-card:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}
.disco-card .card-image {
    padding-top: 12px;
}
.disco-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.disco-img img {
    width: 90px;
    height: 90px;
    border-radius: 8px;
    object-fit: cover;
}
.disco-titulo {
    font-weight: 600;
    font-size: 0.75rem;
}
.disco-anio {
    font-size: 0.6875rem;
    color: #777;
}

/* Pelicula cards */
.peli-card {
    height: 100%;
    max-width: 170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.35s ease, box-shadow 0.35s ease;
    overflow: hidden;
}
.peli-card:hover {
    transform: translateY(-8px) scale(1.04);
    box-shadow: 0 12px 25px rgba(255, 215, 0, 0.5), /*brillo dorado*/
    0 0 25px rgba(255, 0, 80, 0.25), /*rojizo*/
    0 18px 30px rgba(0,0,0,0.45); /*sombra negra*/

}


